<div class="blog-header">
  <h1 class="blog-title"><%= config.title %></h1>
  <% if (config.subtitle){ %>
  <p class="lead blog-description"><%= config.subtitle %></p>
  <% } %> <% if (config.description){ %>
  <p class="lead blog-description"><%= config.description %></p>
  <% } %> <% if (config.keywords){ %>
  <p class="lead blog-description"><%= config.keywords %></p>
  <% } %>
</div>
